#loggedIn{
    margin: 20px 0px;
    font-size: 28px;
}
#videos {
    margin-top: 20px;
    width: 100%;
    height: 320px;
    overflow: auto;
}

.myVideoStyle .video{
   background-color: #5bc0de !important;
}

.myButtonStyle {
    border: 1px solid #ccc;
    border-radius: 4px;
}