.myChatStyle .imUsername {
    display: inline-block;
    width: 100px
}

.myChatStyle .imMessageToSend {
    width: 100%;
}

.myChatStyle .messages {
    border: solid black 1px
}

.myChatStyle .imMessage {
    display: inline-block;
    width: 275px;
}

.myChatStyle .kandyMessages{
    width:100%;
    min-height: 425px;
    border: 1px solid #CCC;
    padding: 5px 10px;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
}

#loggedIn {
    margin-top: 35px;
    font-size: 28px;
}

#myChat ul.cd-tabs-navigation.groups ul.list-users li  a  span{
    font-size: 11px;
    font-style: italic;
}