#loggedIn {
    width: 200px;
    margin-bottom: 20px;
    font-size: 28px;
}

.myAddressBookStyle .kandyAddressContactList {
    background-color: #fff;
    color: #000;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid black
}

.myAddressBookStyle .kandyAddressContactList .myContacts Title {
    text-align: center;
    text-decoration: underline
}

.myAddressBookStyle .kandyDirectorySearch {
    margin-top: 20px
}

.myAddressBookStyle .kandyDirSearchTitle {
    text-align: left;
    text-decoration: underline
}

.myAddressBookStyle .kandyDirSearchResults {
    background-color: #E9F0F2;
    padding: 5px 10px;
    width: 100%;
    border: 1px solid black
}

.myAddressBookStyle .userId {
    width: 260px;
    display: inline-block
}

.myAddressBookStyle .displayname {
    width: 150px;
    display: inline-block
}

.myAddressBookStyle .presence {
    width: 130px;
    display: inline-block
}

.myAddressBookStyle .kandy-contact-heading {
    margin-bottom: 20px;
}

.myAddressBookStyle .kandyContactItem{
    padding: 2px;
}

.myAddressBookStyle .kandySearchItem{
    padding: 10px 5px 0px 5px;
}

.myAddressBookStyle .kandySearchItem .userId {
    display: block;
    min-width: 200px;
    float: left;
}