#loggedIn{
    margin: 20px 0px;
    font-size: 28px;
}
#videos {
    margin-top: 20px;
    width: 100%;
    height: 320px;
    overflow: auto;
}
.myButtonStyle{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}