.myChatStyle .imUsername {
    display: inline-block;
    width: 100px
}

.myChatStyle .imMessageToSend {
    width: 100%;
}

.myChatStyle .messages {
    border: solid black 1px
}

.myChatStyle .imMessage {
    display: inline-block;
    width: 275px;
}

.myChatStyle .kandyMessages{
    width:100%;
    min-height: 425px;
    border: 1px solid #CCC;
    padding: 5px 10px;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
}

#loggedIn {
    margin-top: 35px;
    font-size: 28px;
}

/* KANDY CHAT STYLE */
.kandyGroupChat .imUsername {
    display: inline-block;
}

.kandyGroupChat .input-message {
    width: 79%;
    float: left;
}

.kandyGroupChat .button-send {
    width: 20%;
    float: right;
}

.kandyGroupChat .messages {
    border: solid black 1px
}

.kandyGroupChat .imMessage {
    display: inline-block;
    width: 275px
}

.kandyGroupChat .kandyMessages {
    width: 100%;
    height: 425px;
    overflow: auto;
}

.kandyGroupChat .my-message {
    color: #0995FF;
}

.kandyGroupChat .their-message {
    color: #F47063;
}

.kandyGroupChat .chat-heading .contact-heading label{
    display: inline-block;
}

.kandyGroupChat .chat-heading .contact-heading select{
    display: inline-block;
    width: 110px;
    padding: 2px 0;
}

.kandyGroupChat .btnSendMessage {
    width: 100%;
}

.kandyGroupChat .cd-tabs-navigation li a{
    text-indent: 16px;
    display: inline;
}

.kandyGroupChat .cd-tabs-navigation li i.status{
    font-size: 0.75rem;
    text-indent: 16px;
    display: block;
    line-height: 1em;
}

.kandyGroupChat .cd-tabs-navigation li.kandy-chat-status-available a{
    background: url("../img/available.png") left center no-repeat;
}

.kandyGroupChat .cd-tabs-navigation li.kandy-chat-status-offline a{
    background: url("../img/offline.png") left center no-repeat;
}

.kandyGroupChat .cd-tabs-navigation li.kandy-chat-status-unavailable a,
.kandyGroupChat .cd-tabs-navigation li.kandy-chat-status-away a,
.kandyGroupChat .cd-tabs-navigation li.kandy-chat-status-busy a,
.kandyGroupChat .cd-tabs-navigation li.kandy-chat-status-out-to-lunch a,
.kandyGroupChat .cd-tabs-navigation li.kandy-chat-status-on-vacation a,
.kandyGroupChat .cd-tabs-navigation li.kandy-chat-status-be-right-back a{
    background: url("../img/busy.png") left center no-repeat;
}

/* CSS for tab */

.kandyGroupChat.row.cd-tabs {
    position: relative;
    width: 90%;
    max-width: 960px;
    margin: 2em 0;
    height: 500px!important;
}

.kandyGroupChat.cd-tabs nav {
    width: 20%;
    height: 100%;
    float: left;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 5px;
    box-shadow: inset 0 0 2px #aaa;
}

.kandyGroupChat .cd-tabs-navigation {
    width: 100%;
    margin: 0;
}

.kandyGroupChat .cd-tabs-navigation li {
    float: left;
    width: 98%;
}

.kandyGroupChat .cd-tabs-navigation a {
    background-color: #ffffff !important;
    position: relative;
    display: block;
    width: 100%;
    font-size: 0.75rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
}

.kandyGroupChat .cd-tabs-navigation a.selected {
    background-color: #ffffff !important;
    font-weight: 700;
}

.kandyGroupChat .cd-tabs-navigation a::before {
    position: absolute;
    top: 12px;
    left: 50%;
    margin-left: -10px;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
}

.kandyGroupChat .cd-tabs-navigation a[data-content='inbox']::before {
    background-position: 0 0;
}

.kandyGroupChat .cd-tabs-navigation a[data-content='new']::before {
    background-position: -20px 0;
}

.kandyGroupChat .cd-tabs-navigation a[data-content='gallery']::before {
    background-position: -40px 0;
}

.kandyGroupChat .cd-tabs-navigation a[data-content='store']::before {
    background-position: -60px 0;
}

.kandyGroupChat .cd-tabs-navigation a[data-content='settings']::before {
    background-position: -80px 0;
}

.kandyGroupChat .cd-tabs-navigation a[data-content='trash']::before {
    background-position: -100px 0;
}

.kandyGroupChat .cd-tabs-navigation a[data-content='inbox'].selected::before {
    background-position: 0 -20px;
}

.kandyGroupChat .cd-tabs-navigation a[data-content='new'].selected::before {
    background-position: -20px -20px;
}

.kandyGroupChat .cd-tabs-navigation a[data-content='gallery'].selected::before {
    background-position: -40px -20px;
}

.kandyGroupChat .cd-tabs-navigation a[data-content='store'].selected::before {
    background-position: -60px -20px;
}

.kandyGroupChat .cd-tabs-navigation a[data-content='settings'].selected::before {
    background-position: -80px -20px;
}

.kandyGroupChat .cd-tabs-navigation a[data-content='trash'].selected::before {
    background-position: -100px -20px;
}

.kandyGroupChat .cd-tabs-content {
    background: #ffffff;
    height: 100%;
    width: 80%;
    float: left;
    margin: 0;
}

.kandyGroupChat .cd-tabs-content li {
    display: none;
    padding: 0 1.4em;
}

.kandyGroupChat .cd-tabs-content li.selected {
    display: block;
    -webkit-animation: cd-fade-in 0.5s;
    -moz-animation: cd-fade-in 0.5s;
    animation: cd-fade-in 0.5s;
}

.kandyGroupChat .cd-tabs-content li p {
    font-size: 14px;
    line-height: 1.6;
    color: #8493bf;
    margin-bottom: 2em;
}

.list-users {
    margin-left: 200px;
}

.list-users li {
    display: inline-block;
    background: aliceblue;
    margin-right: 10px;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    padding: 2px 10px;
}

.list-users li:hover span.remove {
    display: inline-block !important ;
    background : #CCCCCC;
    color: #fff;
    cursor: pointer;

}

span.remove {
    background: #ffffff;
    float: right;
    margin-left: 10px;
    font-size: 10px;
    line-height: 100%;
    margin-top: 5px;
    padding: 2px 5px;
}

.groupAction {
    float: right;

}

.groupAction a {
    font-size: 10px;
    font-weight: normal;
}

.groupAction a.leave {
    color: red;
}

.groupAction a.join {
    color: green;
}

.errors {
    display: none;
    color: red;
    font-style: italic;
}

